.newStyle1 {
	font-family: "Arial Black";
	font-size: medium;
	vertical-align: bottom;
	padding: 2px;
	margin: 4px;
	position: fixed;
	left: 80%;
	text-decoration: inherit;
	letter-spacing: inherit;
	color: #3300CC;
}
